/*--Main Container--*/
:root {
  --primary: #17B693;
  --lightgreen:#D4EDE8;
  --darkgreen:#11755F;
  --secondary: #FFD800;
  --success: #17B693;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #111111;
  --gray:#888888;

  /* optional custom additions (not in Bootstrap core) */
  --darkbg: #121212;     /* custom dark background */
  --black: #000000;      /* true black */
  --navlink: #FFFFFF;
  --navlinkhover: var(--light);
  --navcollapse: var(--dark);
  --navtitle: var(--secondary);
  --navbutton: #000;
  --barlow: "Barlow", sans-serif;
  --bodyfont: "sora", serif;
  --unbounded: "Unbounded", cursive;
}

html {
  background: #fff;
}

body {
  min-width: 320px;
  font: 16px/1.625 var(--bodyfont);
  color: var(--dark);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--barlow);
}
p{
  margin-bottom: 25px;
}
#wrapper {
  position: relative;
  height: 100%;
  min-height: 600px;
}

.resize-active .hold {
  transition: none !important;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  padding: 10px 34px;
  line-height: 24px;
  border-radius: 30px;
  font-size: 14px;
   font-family: var(--unbounded);
  font-weight: 500;
  min-width: 166px;
  text-transform: capitalize;
  @media screen and (max-width: 1199px) {
    padding: 10px 20px;
     font-size: 15px;
  }
  @media screen and (max-width: 767px) {
    padding: 10px 20px;
  }

  &-info {
    background: var(--info);
    border-color: var(--info);
  }

  &-primary {
    border: 0;
    background: linear-gradient(97.42deg, var(--primary) 12.56%, var(--darkgreen) 45%);
    background-size: 600% 600%;
    border-radius: 30px;
    transition: background-position 0.5s ease-in-out;

    &:hover {
      background-position: 100% 100%;
    }
  }
  &-success {
    background: linear-gradient(97.42deg, var(--primary) 12.56%, var(--darkgreen) 45%);
    border:0;
     background-size: 600% 600%;
    color: #fff;
     transition: background-position 0.5s ease-in-out;
     &:hover {
      background-position: 100% 100%;
    }
  }
  &-secondary {
    background: var(--secondary);
    border-color: var(--secondary);
    color: #0B0B0B;
  }

  &-light {
    background: var(--light);
    border-color: var(--light);
    border-radius: 10px;

    &:hover {
      background: #fff;
      border-color: var(--light);
      color: var(--light) !important;
    }
  }

  &-default {
    background: var(--primary);
    border-color: var(--primary);
    border-radius: 10px;
    color: #fff;

    &:hover {
      background: var(--light);
      border-color: var(--primary);
      color: var(--primary);
    }
  }

  &-dark {
    background: var(--dark);
    border-color: var(--dark);
  }
}

.bg {
  &-info {
    background: var(--info) !important;
  }

  &-primary {
    background: linear-gradient(97.42deg, var(--primary) 12.56%, #000025 45%);
    background-size: 200% 200%;
  }

  &-secondary {
    background: var(--secondary) !important;
  }

  &-success {
    background: var(--success) !important;
  }

  &-light {
    background: var(--light) !important;
  }

  &-warning {
    background: var(--warning) !important;
  }

  &-dark {
    background: var(--dark) !important;
  }

  &-darkblue {
    background: var(--darkblue) !important;
  }
}

.text {
  &-info {
    color: var(--info) !important;
  }

  &-primary {
    color: var(--primary) !important;
  }

  &-secondary {
    color: var(--secondary) !important;
  }

  &-success {
    color: var(--success) !important;
  }

  &-light {
    color: var(--light) !important;
  }

  &-dark {
    color: var(--dark) !important;
  }

  &-warning {
    color: var(--warning) !important;
  }
}

.img-fluid.w-100 {
    aspect-ratio: attr(width) / attr(height); /* Fallback */
  }